/* _dev.scss */

@import "./variables";

.dev-green {
    background-color: $dev-green;
}

.dev-pink {
    background-color: $dev-pink;
}

.dev-blue {
    background-color: $dev-blue;
}

.dev-orange {
    background-color: $dev-orange;
}

.dev-purple {
    background-color: $dev-purple;
}

.dev-yellow {
    background-color: $dev-yellow;
}