/* _variables.scss */

$font-stack: "Roboto", "Helvetica", "Arial", sans-serif;
$font-color-default: rgba(0, 0, 0, .54);

$shadow1: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12),
          0 3px 1px -2px rgba(0, 0, 0, 0.2);

$dev-green:  #caffd8;
$dev-pink:   #ffceff;
$dev-blue:   #aaaaff;
$dev-orange: #fae1c6;
$dev-purple: #dcdcf6;
$dev-yellow: #f6f6dc;

$blue-main:  #467aa7;
$blue-dark:  #23527c;
$blue-light: #93b5d2;
$gray-light: #fafafa;
$white:      #ffffff;
