/* App.scss */
@import "../../static/styles/variables";
@import "../../static/styles/dev";
@import "../../static/styles/fonts";
@import "../../static/styles/typography";
@import "../../static/styles/cards";
@import "../../static/styles/forms";

.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}